
<div class="center"><img src="/images/coffee_pictures/<%= @coffee_pics.sample %>" class="center"></div>
<br>
<h1 id="center_font">Choose your brewing method</h1>

<div class="coffee_icon">
  <a href="/frenchpress">
    <img id="icon" src="/images/icons/frenchpress.png">
  </a>

  <a href="/chemex">
    <img id="icon" src="/images/icons/chemex.png">
  </a>
</div>

